html, body{
  font-size: 13.7px;
}
.form-group{
	margin-bottom: 1rem;
}
.permission-checkbox > span{
	left: 5px;
	top:-3px;
}
.kt-checkbox > span,.kt-checkbox > input:checked ~ span{
	border: 1px solid #000;
}
.kt-checkbox > span::after{
	border: solid #000;
}
.kt-user-card-v2 .kt-user-card-v2__pic img{
	width: 40px;
	height: 40px;
}
.font-size-20{
	font-size: 20px;
}
.font-size-25{
  font-size: 20px;
}
.font-size-50{
  font-size: 35px !important;
}
.employee-fields{
	margin-top: 10px;
}
.line-height-30{
	line-height: 30px;
}
.padding-left-12{
  padding-left: 12px;
}
.no-margin{
	margin: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.no-border{
	border:none;
}
.employee-field-size{
	font-size: 15px;
}
.border-dotted-bottom{
	border-bottom: 1px dotted #a1a1a1;
}
.doc-block{
	width: 100%;
	cursor: pointer;
}
.doc-img{
	font-size: 10em;
	text-align: center;
}
.doc-title{
	font-weight: 900;
	text-align: center;
}
#doc_breadcrumb li{
	cursor: pointer;
}
.doc_breadcrumb_seprator{
	font-size: 5px;
	color: #a1a1a1;
	vertical-align: middle;
}
.dropzone .dz-message{
	margin: 3em 0px;
}
.font-size-100{
	font-size: 100px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-1rem{
	margin-top: 1rem;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.margin-right-10{
  margin-right: 10px;
}
.fc-unthemed .fc-event .fc-content::before, .fc-unthemed .fc-event-dot .fc-content::before{
	display: none;
}
.fc-unthemed .fc-event .fc-content, .fc-unthemed .fc-event-dot .fc-content{
	padding: 0.55rem 0.55rem 0.55rem 0.55rem;
	text-align: center;
}
.kt-avatar .kt-avatar__holder{
	background-size: cover;
}
.tagify{
	border-radius: 4px;
	border-color:#e2e5ec;
}
.is-invalid .tagify{
	border-color: #fd397a !important;
}
.big-font{
	font-size: 8rem !important;
}
.aim_file{
	border:1px solid #a1a1a1;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	width: 100%;
}
.overlay {
	position: absolute;
 	right: 0;
	z-index: 5;
	margin-top: -15px;
	cursor: pointer;
}
.aim_img{
	width: 50%;
	margin-bottom: 20px;
}
.aim_desc{
	color:#a1a1a1;
	font-size: 15px;
	width: 75%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 4px;
}
.card-body-pad{
	padding: 0.25rem;
}
.select2-search__field{
	width: 100% !important;
}
.user_icon{
	min-height: 45px !important;
	min-width: 45px !important;
}
.badge-size{
	width: 75px;
	height: 75px;
	font-size: 4.1rem;
	font-weight: bolder;
	min-height: 40px !important;
	min-width: 40px !important;
}
.kt-first-char{
	font-size: 3.5rem !important;
}
.btn.delete_item{
	background-color: #fff !important;
	color: #5d78ff;
}
.btn.delete_item :hover{
	color: #5d78ff;
}
.pac-container{
	z-index: 99999;
}
.min-h{
	min-height: 696px;
}
.mtp-10{
	margin-top: 10%;
}

/*Sticky Notes*/
ul.notes li,ul.tag-list li {
  list-style: none;
}
ul.notes li h4 {
  margin-top: 20px;
  font-size: 16px;
}
ul.notes li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  position: relative;
}
ul.notes li div small.toptext {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
ul.notes li div span.delbtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: inherit;
}
ul.notes li div span.share-btn{
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: inherit;
  cursor: pointer;
}
ul.notes li {
  margin: 10px 40px 50px 0;
  float: left;
}
ul.notes li div p {
  font-size: 12px;
}
ul.notes li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 2px #212121;
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 2px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 5px 5px 2px rgba(33, 33, 33, 0.7);
}
ul.notes li div {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}
ul.notes li:nth-child(even) div {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}
ul.notes li:nth-child(3n) div {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}
ul.notes li:nth-child(5n) div {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}
ul.notes li div:hover,ul.notes li div:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position: relative;
  z-index: 5;
}
ul.notes li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}
.sticky-button{
  z-index: 99999;
  position: fixed;
  right: 35px;
  bottom: 115px;
}
.no-content{
	position: relative;
	margin: auto;
	top: 45%;
	transform: translateY(-50%);
}
ul.notes li div.sharedsticky {
  background: #fcc;
}
.border-right-dotted{
	border-right: 2px dotted #999;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-font-danger > .kt-datatable__cell > span{
	color: inherit;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-font-primary > .kt-datatable__cell > span{
	color: inherit;
}
.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row.kt-font-warning > .kt-datatable__cell > span{
	color: inherit;
}
.v-align-middle{
	vertical-align: middle !important;
	text-align: center;
}
.border-radius-0{
	border-radius: 0px !important;
}
.margin-bottom-0{
  margin-bottom: 0px;
}
.padding-20{
	padding: 20px;
}
.padding-13{
  padding: 13px;
}
.print_area{
	width: 384px; /* 4 Inch */
	height: 192px; /* 2 Inch */
	font-family: "Calibri";
	color: #000;
	font-style: normal;
	font-weight: 900;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	top: 50%;
}
.modal-width-1200{
  width: 1200px !important;
  max-width: 1200px !important;
}
.margin-top-13{
  margin-top: 13px;
}
.width-150{
  width: 150px;
}
.width-100{
  width: 100% !important;
}
.width-100 > .select2{
  width: 100% !important;
}
.modal-width-2000{
  width: 2000px !important;
  max-width: 2000px !important;
}
.print_area_margin{
	margin-top: 10%;
	margin-bottom: 12%;
}

#chartdiv {
	width: 530px;
  height: 450px;
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
}

#legend {
  margin-left: 10px;
  display: inline-block;
  margin-top: 110px;
}

#legend .legend-item {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#legend .legend-item .legend-value {
  font-size: 12px;
  font-weight: normal;
  margin-left: 22px;
}
.count-block{
	margin-bottom: 20px;
}
.count-block .count-block-heading{
	font-weight: 900;
	font-size: 15px;
}
.count-block .count-block-counting{
	font-weight: 900;
	font-size: 35px;
}

#legend .legend-item .legend-marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.font-16-5{
  font-size: 16.5px;
}
#legend .legend-item.disabled .legend-marker {
  opacity: 0.5;
  background: #ddd;
}
.kt-datatable__subtable .kt-datatable__table{
	min-height: initial !important;
}
.font-size-25{
	font-size: 25px !important;
}
.font-size-18{
  font-size: 18px !important;
}
.cus-float-left{
  float: left !important;
}
.state-font-size{
	font-size: 5.96rem !important;
}
div.dataTables_wrapper div.dataTables_filter input{
	width: 80% !important;
}
.border-top{
	border-top: 1px solid #fff;
}
.img-size-350{
	height: 350px;
}
.img-size-150{
  height: 150px;
}
.padding-10{
	padding: 10px;
}
.doc-block{
  width: 150px;
  height: 200px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.print_content{
	margin:auto;
  width: 816px;
  min-height: 956px;
  padding:1em;
  margin-top:20px;
  margin-bottom:20px;
  page-break-after: always;
  border:1px solid #333;
  box-shadow: 0 0 5px rgba(33, 33, 33, 1); 
  overflow:auto;
}
.job-label{
	padding: 10px;
	background: #f1f1f1;
	margin-bottom: 10px;
}
.job-block{
	padding: 0px 10px;
}
.margin-bottom-badge{
	margin-bottom: 0.7rem;
}

.ui-item h2 {
  border-top: 2px solid #d1d1d1;
  color: #000;
  font-size: 20px;
  line-height: 35px;
  font-weight: 900;
  margin: 0px auto;
  width: 80%;
}
.ui-item {
  padding: 15px 0px;
  text-align: center;
  background: #fff;
  box-shadow: inset -60px 0px 100px -90px #000000 , inset 60px 0px 100px -90px #000000, 0px 0px 40px rgba(0,0,0,0.15);
  border: 2px solid #0f6dab;
  margin: 10px auto;
  max-width: 400px;
  border-radius: 100%;
  cursor: pointer;
  margin:0px 0px;
}
.ui-item img {
  max-width: 60px;
  margin: 0px auto 15px;
}
.ui-item h6 {
  margin-top: 0px;
  color: #4aabc9;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}
.custom-block{
  padding: 10px 0px;
  border-bottom: 1px solid #999;
}
.badge-cus{
  color: #000;
  background: #ccc;
}
.badge-cus1{
  color: #000;
  background: #e08790;
}
.badge-cus45{
  color: #000;
  background: #87e0ad;
}
.badge-cus5{
  color: #000;
  background: #c4e087;
}
.badge-cus44{
  color: #000;
  background: #87a7e0;
}
.custom-block:last-child{
  border:none;
}
.hovimg{
  position: absolute;
  width: 320px;
  height: 320px;
  padding: 10px;
  display: none;
  background: #fff;
  z-index: 100000;
  margin-top:-100px;
  margin-left: 50px; 
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.hrefov:hover{
  text-decoration: underline;
  color: #3333CC;
  font-weight: bolder;
}
.nav-tabs .nav-item{
  border-bottom: -2px;
}
.font-size-28{
  font-size: 28px;
}
.main-con{
  position: relative;
  cursor: pointer;
}
.hover-con{
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.main-con:hover > .hover-con{
  display: inline-block;
}
.main-con:hover{
  background: rgba(0,0,0,0.3);
  color: #fff;
}
.kt-header-menu{
  margin: 0px 0px 0px 10px;
}
.kt-header-menu.kt-header-menu--layout-default .kt-menu__nav > .kt-menu__item > .kt-menu__link{
  padding: 0.65rem 0.5rem;
}
.list-padding{
  margin-left: -26px;
}
.min-height-200{
  min-height: 200px;
}
.letter-spacing-2{
  letter-spacing: 2px;
}
.routing-block{
  border: 1px solid #999;
  border-radius: 20px;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.kt-kanban__content{
  color: #000;
}
.job_note,.job_note td{
  background: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dataTables_wrapper .table-font-black th, .dataTables_wrapper .table-font-black td{
  color: #000 !important;
}

.ui-264 .block-content {
  margin: 5px auto;
  max-width: 360px;
  overflow: hidden;
  text-align: center;
}
.ui-264 .fill-container {
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18), 0 0 5px rgba(0, 0, 0, 0.2) inset;
  height: 62px;
  margin: 10px auto;
  max-width: 62px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 110;
}
.ui-264 .fill-container .fill-limit {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-top: 2px;
  position: relative;
  text-align: center;
  z-index: 50;
}
.ui-264 .fill-container .fill-limit span {
  color: #444;
  display: inline-block;
  font-size: 10px;
  margin-left: 3px;
}
.ui-264 .fill-container .filler-outer {
  border-radius: 0 0 250px 250px;
  bottom: 1px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.ui-264 .fill-container .filler {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.ui-264 .fill-container .filler .curve-img {
  left: 0;
  margin: 0;
  max-width: 250px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.ui-264 .block-content h3 {
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
}
.ui-264 .block-content p {
  font-size: 12px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 200px;
}
.ui-264-bg-red {
  background-color: #f75353;
}
.ui-264-bg-green {
  background-color: #51d466;
}
.ui-264-bg-lblue {
  background-color: #32c8de;
}
.ui-264-bg-orange {
  background-color: #f78153;
}
.ui-264-red {
  color: #f75353;
}
.ui-264-green {
  color: #51d466;
}
.ui-264-lblue {
  color: #32c8de;
}
.ui-264-orange {
  color: #f78153;
}
.table-bordered th, .table-bordered td{
  border: 1px solid #a1a1a1 !important;
}
.table-gray-border th, .table-gray-border td{
  border: 1px solid #a1a1a1 !important;
  color: #000 !important;
}
.bg-color-white{
  background-color: #fff;
}
.datepicker > div.datepicker-days{
  display: block !important;
}
.layer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}
.gray .rb-btn span {
  background: #BFBFBF;
}

.yellow .rb-btn span {
  background: #FFFF00;
}

.orange .rb-btn span {
  background: #FFC000;
}
.black .rb-btn span {
  background: #000000;
}
.rb-btn {
  display: inline;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 20px;
  cursor: pointer;
}

.rb-btn span {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s;
}
.radio-input {
  display: none;
}
.filter-radio-input{
  display: none;
}
.dis-inline{
  display: inline;
}
.kt-font-red{
  color: #ff3b3b !important;
}
.no-wrap{
  white-space: nowrap !important;
}
.routeinfo {
  border: 0px;
  font-family: inherit;
  border-radius: 0px;
  background: #ededed;
  min-height: 60px;
  padding: 5px;
}
.table-font-size-20 th,.table-font-size-20 td{
  font-size: 20px;
}
table.dataTable.fixedHeader-floating{
  top:117px !important;
}
.kt-header-primary{
  background-color: #5867dd;
}
.kt-header-primary .kt-portlet__head-label .kt-portlet__head-icon{
  color: #fff !important;
}
.kt-header-primary .kt-portlet__head-label .kt-portlet__head-title{
  color: #fff !important;
}
.kt-header-red{
  background-color: #dc3545;
}
.kt-header-red .kt-portlet__head-label .kt-portlet__head-icon{
  color: #fff !important;
}
.kt-header-red .kt-portlet__head-label .kt-portlet__head-title{
  color: #fff !important;
}
.kt-header-yellow{
  background-color: #ffc107;
}
.kt-header-yellow .kt-portlet__head-label .kt-portlet__head-icon{
  color: #fff !important;
}
.kt-header-yellow .kt-portlet__head-label .kt-portlet__head-title{
  color: #fff !important;
}
.kt-header-green{
  background-color: #28a745;
}
.kt-header-green .kt-portlet__head-label .kt-portlet__head-icon{
  color: #fff !important;
}
.kt-header-green .kt-portlet__head-label .kt-portlet__head-title{
  color: #fff !important;
}

.portlet-border-primary{
  border: 3px solid #5867dd;
}
.portlet-border-success{
  border: 3px solid #0abb87;
}
.portlet-border-warning{
  border: 3px solid #ffb822;
}
.portlet-border-danger{
  border: 3px solid #fd397a;
}
.badge-custom-yellow{
  background-color: #ED8800;
}
.btn-custom-yellow{
  background-color: #ED8800;
  border-color: #ED8800;
}
.border-primary{
  border: 1px solid #5867dd;
}
.border-success{
  border: 1px solid #0abb87;
}
.border-warning{
  border: 1px solid #ffb822;
}
.border-danger{
  border: 1px solid #fd397a;
}
.font-red{
  color: #DB2020 !important;
}
.font-yellow{
  color: #ED8800 !important;
}
.kt-font-25{
  font-size: 25px;
}
.margin-bottom-1{
  margin-bottom: 2px;
}
.kanban-container .kanban-item[data-class="gray"]{
  opacity: 0.3;
  background: rgba(161, 161, 161,0.5);
}
.nav-tabs.nav-tabs-line .nav-item{
  margin-left: 20px;
}
.cus-select2 .select2-container{
  width: 100% !important;
}
.form-control[readonly] {
  background-color: #d1d1d1;
}
.badge, .label {
  font-size: 95%;
  color: #000;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}
.btn-danger{
  color: #000;
}
.btn-success{
   color: #000;
}
.tox-fullscreen{
  height: 100% !important;
}
.cus-checkbox > span{
  width: 25px;
  height: 25px;
}
#dialog > object{
  width: 100%;
  min-height: 900px;
}
.cus-pointer{
  cursor: pointer;
}
.check-margin{
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.file-custom-font{
  font-size: 1.2rem;
}
.font-size-19{
  font-size: 19.7px;
}
.kanban-container .kanban-board{
  width: calc(16.66% - 5.49rem) !important;
}
.kt-kanban__badge .kt-kanban__title{
  font-size: 15.7px;
}
.custom-modal{
  background-color: transparent;
  border:0px;
}
.cus-close{
  color: #fff;
  font-size: 50px;
  float: right;
  cursor: pointer; 
}
.pjl-job-note{
  -webkit-background-clip: border-box !important;
  -webkit-text-fill-color: #000 !important;
}
.content-block{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px dotted #333;
}
.content-title{
  font-weight: bold;
  font-size: 20px;
}
.content-text{
  font-size: 15px;
}

#id_card_frontend_img{
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
}
#id_card_frontend_img > img{
  width: 170px !important;
  height: 170px !important;
}
#id_card_frontend_name{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_frontend_last_name{
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_frontend_designation{
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 900;
}
#id_card_frontend_designation_2{
  position: absolute;
  left: 50%;
  top: 77%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 900;
}
#id_card_frontend_barcode{
  position: absolute;
  left: 50%;
  top: 86%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
}
#id_card_frontend_barcode > img{
  width: 200px;
}
#id_card_backend_name{
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_backend_last_name{
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_backend_designation{
  position: absolute;
  left: 50%;
  top: 24%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 900;
}
#id_card_backend_designation_2{
  position: absolute;
  left: 50%;
  top: 29%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 900;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .logo_width{
    width: 80%;
  }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .logo_width{
    width: 80%;
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_width{
    width: 20%;
  }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logo_width{
    width: 20%;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .logo_width{
    width: 20%;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .logo_width{
    width: 20%;
  }
}