#id_card_frontend_img{
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
}
#id_card_frontend_img > img{
  width: 550px !important;
  height: 550px !important;
}
#id_card_frontend_name{
  position: absolute;
  left: 50%;
  top: 61%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 6.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_frontend_last_name{
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 6.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_frontend_designation{
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 5rem;
  font-weight: 900;
}
#id_card_frontend_designation_2{
  position: absolute;
  left: 50%;
  top: 77%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 5rem;
  font-weight: 900;
}
#id_card_frontend_barcode{
  position: absolute;
  left: 50%;
  top: 87%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
}
#id_card_frontend_barcode > img{
  width: 520px;
}
#id_card_backend_name{
  position: absolute;
  left: 50%;
  top: 11%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 6.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_backend_last_name{
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 6.5rem;
  font-weight: 900;
  color: #034EA2;
}
#id_card_backend_designation{
  position: absolute;
  left: 50%;
  top: 26%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 5rem;
  font-weight: 900;
}
#id_card_backend_designation_2{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 5rem;
  font-weight: 900;
}
#frontend_img{
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}
#backend_img{
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}